DISCORD_WEBHOOK=<discord webhook URL>
SECOND_DISCORD_WEBHOOK=<low confidence discord webhook URL>
CERTSTREAM_WS_URL=<WebSocket URL of certstream server>
SMTP_ENABLED=<true or false>
SMTP_HOST=<SMTP server host>
SMTP_PORT=<SMTP server port>
SMTP_USERNAME=<SMTP username>
SMTP_PASSWORD=<SMTP password>
SMTP_FROM_EMAIL=<email address to use in the "From" field of the email>